/* src/components/Header.css */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    background-color: #0b0b0bfd;
    color: #fff;
    font-family: 'Geosanslight', sans-serif;
    padding: 0px 50px;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Geosanslight', sans-serif;
    margin-bottom: 40px;
  }

  #logo {
    position: absolute;
    margin-top: 25px;
    top: -90px;
    left: 44vw;
    padding: 5px 0px;
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 0px 5px #791493);
    transition: 0.5s all ease;
  }

  #logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px #358e7e);
  }

  .nav a {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s all ease;
  }
  
  .nav a:hover {
    color: #35d6b6;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 5px #791493);
  }  