.carrinho-container {
    width: 99vw;
    min-height: 42vw;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Geosanslight', sans-serif;
  }
  
  .carrinho-container h1 {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  
  .empty {
    font-size: 18px;
    margin-top: 2rem;
  }
  
  .carrinho-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
    margin: 2rem auto;
    padding: 0;
    max-width: 50vw;
  }
  
  .carrinho-item {
    width: 100%;
    max-width: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2a2a2a;
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .carrinho-item:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
  }

  .carrinho-item img {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 6px;
    flex-shrink: 0;
  }
  
  .carrinho-item div {
    flex: 1;
    text-align: right;
    font-size: 18px;
  }
  
  .carrinho-item h2 {
    margin: 0 0;
    font-size: 22px;
    text-align: left;
    padding-top: 5px;
  }
  
  .carrinho-item p {
    margin: 0.3rem 0;
    text-align: right;
  }
  
  .carrinho-item button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.5s all ease;
  }
  
  .carrinho-item button:hover {
    background-color: #cc3a3a;
    transform: scale(1.1);
  }
  
  /* Botão de esvaziar carrinho */
  .clear-cart-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.5s all ease;
  }
  
  .clear-cart-btn:hover {
    background-color: #d43c3c;
    transform: scale(1.1);
  }
  .coupon-section {
    background-color: #2a2a2a;
    padding: 20px 0px 15px 0px;
  }
  .coupon-section input {
    margin-left: -30px;
    margin-right: 15px;
    padding: 0px 15px;
    height: 50px;
    border: 1px solid #fc8300;
    color: #fc8300;
    border-radius: 30px;
    font-family: 'Geosanslight', sans-serif;
    font-size: 18px;
  }
  .cupom-btn {
    padding: 15px;
    border-radius: 30px;
  }
  .cupom-btn:hover {
    border: 1px solid #fc8300;
  }
  .discount-message {
    color: #fc8300;
    font-size: 22px;
  }
  /* Total e finalização */
  .total-container {
    margin-top: 2rem;
    font-size: 20px;
    color: #fff;
  }
  
  .total-value {
    margin-bottom: 1rem;
  }
  
  .finalize-btn {
    padding: 0.6rem 1.2rem;
    background-color: #358e7e;
    color: #000;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all ease;
  }
  
  .finalize-btn:hover {
    background-color: #358e7e;
    transform: scale(1.1);
  }  